<form action="" method="POST">
{% csrf_token %}
{% for problem in problems %}
	<div class="problem {% if not forloop.counter|divisibleby:"2" %}problem-odd{% endif %} {% if forloop.counter|divisibleby:"3" %}problem-third{% endif %}">
		<input class="checkbox" id="problem-{{problem.id}}" type="checkbox" name="problem-{{problem.id}}" value="True" />
		<label class="title problem-title" for="problem-{{problem.id}}">{{problem.title}}</label>
		{% if problem.image %}
			<label for="problem-{{problem.id}}"><img src="{% thumbnail problem.image 'small' %}" alt="" /></label>
		{% endif %}
	</div>
{% endfor %}
	<nav class="navbar navbar-default navbar-fixed-bottom form-actions">
		<div class="container">
			<input class="navbar-btn btn btn-default pull-right" type="submit" value="Next" />
		</div>
	</nav>
</form>