{% extends 'base.html' %}

{% block content %}
<h1>Help Us Understand Diabetes Problems</h1>
<div class="section content introduction">
	<p>We are creating a community of patients, providers, designers and developers to ease the care and management of type 1 diabetes. You can <a href="http://healthdesignby.us">find out more about who we are here.</a></p>
	<p>The first step to solving a problem is identifying which problems need solving, which is where we want your help and input. Please select the problems from the list of problems below, and let us know which problems are the most important to you.</p>
</div>
<form action="" method="POST">
{% csrf_token %}
{% for problem in problems %}
	<div class="problem {% if not forloop.counter|divisibleby:"2" %}problem-odd{% endif %} {% if forloop.counter|divisibleby:"3" %}problem-third{% endif %}">
		<input class="checkbox" id="problem-{{problem.id}}" type="checkbox" name="problem-{{problem.id}}" value="True" />
		<label class="title problem-title" for="problem-{{problem.id}}">{{problem.title}}</label>
		{% if problem.image %}
			<label for="problem-{{problem.id}}"><img src="{% thumbnail problem.image 'small' %}" alt="" /></label>
		{% endif %}
	</div>
{% endfor %}
	<nav class="navbar navbar-default navbar-fixed-bottom form-actions">
		<div class="container">
			<input class="navbar-btn btn btn-default pull-right" type="submit" value="Next" />
		</div>
	</nav>
</form>
{% endblock content %}