{% extends 'base.html' %}

{% block content %}
<h1>Help us understand problems diabetes</h1>
<form action="" method="POST">
{% csrf_token %}
{% for problem in problems %}
	<div class="problem">
		{% if problem.image %}
			<label for="problem-{{problem.id}}"><img src="{% thumbnail problem.image 'small' %}" alt="" /></label>
		{% endif %}
		<input id="problem-{{problem.id}}" type="checkbox" name="problem-{{problem.id}}" value="True" />
		<label for="problem-{{problem.id}}">{{problem.title}}</label>
		
	</div>
{% endfor %}
<input type="submit" />
</form>
{% endblock content %}