{% load thumbnail %}
<div class="pane" data-type="problems-most">
	<h1>Pick your most important issue</h1>
	<form action="{% url 'problems-most' %}" method="post" data-target="pane">
		{% csrf_token %}
		<fieldset>
			<legend>Thanks for telling us which issues are the important to you. If you had to pick one issue, <strong>which of these issues is the most important to you?</strong></legend>
			<p>You may <a href="{% url 'main-home' %}" class="ajax">skip this step.</a></p>
			<div class="problems problems-list">
			{% for problem in problems  %}
				<div class="problem problem-card {% if forloop.counter == 1 %}problem-first {% endif %}{% if not forloop.counter|divisibleby:"2" %}problem-odd {% endif %}{% if forloop.counter|divisibleby:"5" %}problem-fifth {% endif %}">
					<input class="radio" id="problem-{{problem.id}}" type="radio" name="problem" value="{{problem.id}}" />
					<label class="title problem-title" for="problem-{{problem.id}}">{{problem.title}}</label>
					{% thumbnail problem.image "300x300" crop="center" as im %}
						<label for="problem-{{problem.id}}"><img src="{{ im.url }}" alt="" /></label>
					{% endthumbnail %}
				</div class="legend">
			{% endfor %}
			</div>
		</fieldset>
		<nav class="form-actions">
				<input class="btn btn-large btn-primary pull-right" type="submit" name="selected" value="Next" />
				<input class="btn btn-large btn-secondary pull-right" type="submit" name="skip" value="Skip this step" />
		</nav>
	</form>
</div>