{% load crispy_forms_tags %}
<div class="pane pane-skinny pane-odd">
	<h1>Help Us Understand Diabetes Care</h1>
	<div class="row">
		<div class="col-md-8 section content introduction">
			<p>We are creating a community of patients, providers, designers and developers to ease the care and management of type 1 diabetes. You can <a href="http://healthdesignby.us">find out more about who we are here.</a></p>
			<p>The first step to creating a better care experience is identifying where there are negative experiences, breakdowns, and problems. Once we can visualize our communities issues, we will prototype new experiences that ease caring for diabetes.</p>
			<p>Help us by participating in our process. Share your experiences and opinions with our community.</p>
			<p>We are going to use this information to inform the next steps of developing a community to help patients, caregivers, and providers develop solutions to ease the care and management of type 1 diabetes.</p>
		</div>
		<div class="col-md-4">
			<a href="{% url 'problems-pick' %}" class="btn btn-primary btn-jumbo btn-ajax">Identitify Issues</a>
		</div>
	</div>
</div>
