.container{
    width:auto;
    margin:0px @spaceSize;
    padding:0px;
}

.checkbox{
	position: relative;
	padding-left: @spaceSize*2;
	input, input[type="checkbox"]{
		position: absolute;
		top:4px;
		left:3px;
		margin:0px
	}
}

.problem{
	position:relative;
	margin:@spaceSize/2;
	&.problem-selected{
		background-color:#ddd;
	}
	label{
		display:block;
		width:100%;
	}
	input.checkbox{
		position:absolute;
		top:@spaceSize/2;
		left:@spaceSize/2;
	}
	.problem-title{
		display:block;
		font-size:1.5em;
		padding:0px @spaceSize;
		padding-left:@spaceSize*2;
	}
	img{
		display:block;
		width:95%;
		margin:0px auto;
	}
}

.nav-sticky{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
}