*{
	border-radius: 0px !important;
}

.hidden{ // hides element from sighted users, but not screen readers;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1px;
	height: 1px;
	overflow: hidden;
	background-color: transparent !important;
	border-width:0px !important;
	text-indent: 100px;
}


// ICONS
.hdbus-logo{
	display:block;
	background-image: url('../i/hdbyus-logo.png');
	background-repeat: none;
	background-position: 0px 0px;
	width:65px;
	height:50px;
	overflow: hidden;
	text-indent: -30000px;
}

// BUTTONS

.btn-large{
	font-size: @largeFontSize;
	padding:@spaceSize @spaceSize;
}

.btn-jumbo{
	width:100%;
	font-size: @largeFontSize;
	padding:@spaceSize @spaceSize/2;
	margin:0px 0px @spaceSize;
}

// FORMS
legend{
	border-width:0px;
}

.form-actions, .navbar.form-actions{
	background-color: @secondaryBackgroundColor;
	border-width:0px;
	border-top: @secondaryBorderColor @borderWidthThick solid;
	height:auto;
	padding-top:@spaceSize;
	padding-bottom:@spaceSize;
}

// SCAFFHOLDING
.container{
    width:auto;
    margin:0px @spaceSize;
    padding:0px;
}

// NAVBAR
.navbar-vertical{
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index: 100;
	.container{
		padding-top:@spaceSize;
		padding-bottom:@spaceSize;
	}
}
.container-with-navbar-vertical-space{
	padding-left:75px;
}


// PROBLEMS
.problem{
	position:relative;
	margin:@spaceSize/2;
	label{
		display:block;
		width:100%;
	}
	input.checkbox{
		position:absolute;
		top:@spaceSize/2;
		left:@spaceSize/2;
	}
	.problem-title{
		display:block;
		font-size:1.5em;
		padding:0px @spaceSize;
		padding-left:@spaceSize*2;
	}
	img{
		display:block;
		width:95%;
		margin:0px auto;
	}
	&.problem-selected{
		.problem-title{
			color:lighten(@primaryColor,20%);
		}
		img{
			opacity:0.8;
		}
	}
}