
@verticalNavBarSpace: 75px;
.container{
	width:@largeSize;
	margin-left:auto;
	margin-right:auto;
}
.container-with-navbar-vertical-space{
	padding-left:@verticalNavBarSpace;
}

.problem-card{
	@problem_width: (@largeSize - 75px)/4 - @spaceSize;
	display:block;
	position: relative;
	float:left;
	width: @problem_width;
	padding-top: @problem_width - @spaceSize + @spaceSize/2;
	img{
		width:@problem_width - @spaceSize;
		position:absolute;
		top:0px;
		left:@spaceSize/2;
	}
}

.problem-fifth, .problem-first{
	clear:left;
}