@largeSize:	760px;

@spaceSize:	14px;

// COLORS
@blue: #1B457B;
@blueLight: #8daef7;
@yellow: #F3AD26;
@green: #3B4C10;
@red: #D80039;

@primaryColor:	@blue;
@secondaryColor:	@yellow;

@brand-primary:         @primaryColor;
@brand-success:         @green;
@brand-info:            @yellow;
@brand-warning:         @red;
@brand-danger:          @red;

@text-color:            @primaryColor;

@link-color:            @brand-primary;
@link-hover-color:      lighten(@link-color, 15%);

@backgroundColor: #FFFFFF;
@body-bg: @backgroundColor;
@secondaryBackgroundColor: #DBDBDB;

// TYPOGRAPHY
@fontSize: 14px;
@largeFontSize: 18px;
@largestFontSize: 28px;

// BORDERS
@borderWidth:	3px;
@borderColor:	@primaryColor;

@borderWidthThick: 6px;

@secondaryBorderColor: @secondaryColor;

// FORMS
@input-color: @primaryColor;
@legend-color: @primaryColor;


// NAVBAR
@navbar-default-bg: @secondaryBackgroundColor;
@navbar-default-border: @secondaryBorderColor;

@icon-font-path: "../../bootstrap/fonts/";


// MIXINS

.button-variant(@color; @background; @border) {
  color: @color;
  background-color: @background;
  border-color: @border;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color;
    background-color: lighten(@background, 10%);
        border-color: lighten(@border, 12%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @background;
          border-color: @border;
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}